* {
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
}

:root {
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #eeebea;
  --clr-dark: #868282;
  --clr-accent: #5eb85b;
  --clr-darkt: #4b4947;

  --fs-h1: 3rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-body: 1 rem;
}
section {
  padding: 5em 2em;
}
.logo {
}
img {
  width: 100%;
  display: block;
}
.bio_head {
  font-weight: var(--fw-reg);
  grid-area: bio_head;
}
.intro_image {
  grid-area: into_image;
}

strong {
  font-weight: var(--fw-bold);
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.5rem;
  }
}
body {
  background: var(--clr-light);
  color: var(--clr-darkt);
  margin: 0px;
  line-height: 1.5;
  align-items: center;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
.title {
  margin-bottom: 0.3em;
}
.bio_p {
  margin: 0;
  font-size: var(--fs-h3);
  grid-area: bio_p;
  color: var(--clr-light);
}

.bio_p,
.btn,
.objectiveTitle,
.workTitle,
.skillsIntro,
.educationTitle,
.hobbyTitle,
.projectsTitle {
  background: var(--clr-accent);
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    #8fe076,
    rgb(0, 0, 0)
  );
}
.into_image {
}
.bio_p {
  margin-bottom: 1rem;
  display: inline-block;
}

@media (min-width: 800px) {
  .title {
    display: grid;
    text-align: center;
    margin: 0 200px;

    grid-template-columns: min-content max-content;
    grid-template-areas:
      "into_image bio_head "
      "into_image bio_p";
  }
  .into_image {
    grid-area: into_image;
    min-width: 250px;
    padding-left: 2em;
  }
  .bio_p {
    align-self: start;
    grid-column: -1 /1;
    grid-row: 2em;
    text-align: right;
    left: 2em;
    width: calc(100% + 2em);
  }
}
.skillsSection {
  background-color: var(--clr-dark);
  background-image: url(../img/work_image.jpg);
  background-size: cover;
  color: var(--clr-light);
  background-blend-mode: multiply;
  text-align: center;
  margin: 2em 2em 2em 2em;
}

@media (min-width: 800px) {
  .skills {
    display: flex;
    margin: 0 auto;
  }
}

.workExperience {
  background-color: var(--clr-dark);
  background-image: url(../img/workExp.jpg);
  background-size: cover;
  color: var(--clr-light);
  background-blend-mode: multiply;
  padding: 5em 3em;
  text-align: center;
  margin: 2em 2em 2em 2em;
}

@media (min-width: 800px) {
  .work_list {
    display: flex;
    margin: 5em auto;
  }
  .work {
    padding: 5em auto;
  }
}
.educationSection {
  background-color: var(--clr-dark);
  background-image: url(../img/college.jpg);
  background-size: cover;
  color: var(--clr-light);
  background-blend-mode: multiply;
  padding: 5em 3em;
  text-align: center;
  margin: 2em 2em 2em 2em;
}
@media (min-width: 800px) {
  .educationList {
    display: flex;
  }
}
.hobbiesSection {
  background-color: var(--clr-dark);
  text-align: center;
  margin: 2em 2em 2em 2em;
  color: var(--clr-light);
}
.btn {
  color: var(--clr-light);
  background: var(--clr-dark);
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  margin-top: 2em;
  border-color: var(--clr-darkt);
  margin: 1em 0.5em 1em 0.5em;
  text-decoration: none;
}
.btn:hover {
  background: rgb(179, 192, 152);
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    #8fe076,
    rgb(0, 0, 0)
  );
}
@media (min-width: 800px) {
  .hobbiesList {
    display: flex;
  }
  .hobby {
    padding: 2em 2em 2em 2em;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  max-width: 100px;
}
.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 100ms cubic-bezier(0.5, 0, 0.5, 1);
}
.navList {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navItem {
  color: var(--clr-light);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.checkbtn {
  width: 10px;
  height: 5px;
  border-radius: 5px;
  display: block;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  color: var(--clr-darkt);
}
.checkBox {
  display: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border-style: solid;
  padding: 0.5em;
}
nav ul li a:hover {
  color: var(--clr-accent);
  border-style: none;
}
.navExpand .nav {
  transform: translateX(0);
  background-image: url(../img/stars.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}
.navExpand .navToggle {
  position: fixed;
}
@media (min-width: 800px) {
  ul {
    position: fixed;
    color: var(--clr-darkt);
  }
}
.project {
  padding: 0em 1em 0em 1em;
  color: var(--clr-light);
  text-align: center;
}
.projectsTitle {
  color: var(--clr-light);
}

@media (min-width: 800px) {
  .projectsList {
    display: flex;
    margin: 0px 5px 0px 5px;
    padding: 1em 1em 1em 1em;
  }
}
.sectionObj {
  text-align: center;
}
.facebookIcon,
.instaIcon,
.linkedinIcon,
.githubIcon {
  margin: 0 1em;
}
.sectionSocialMedia {
  background: var(--clr-dark);
  margin: 2em 2em 2em 2em;
  text-align: center;
  color: var(--clr-light);
}
footer {
  font-size: var(--fs-body);
  text-align: center;
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 2em 1.3em 2em 1.3em;
}
.projectsSection {
  background: var(--clr-dark);
  background-image: url(../img/project.jpg);
  background-blend-mode: multiply;
  margin: 2em 2em 2em 2em;
  text-align: center;
}
.socialHead {
  background: #3f6ce7;
  background-image: linear-gradient(to right, #868282, #3f6ce7, #868282);
}
